@media (max-width: 390px) {
  #session3-attributes {
    & .container {
      & .containt {
        justify-content: space-between;
        margin-block: 20px;
      }
    }
  }
  #session-detailsSummary {
    .container {
      .containt {
        display: flex;
        flex-direction: column;
        .col1,
        .col2 {
          width: 95%;
          .div-img {
            height: 100%;
            img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-entitie {
    & .container {
      & .containt {
        justify-content: space-between;
        margin-block: 20px;
        display: flex;
        #describe-entities {
          width: 70%;
        }
        .col1,
        .col2 {
          width: 95%;
          display: flex;
          flex-direction: column;

          a {
            color: blue;
            cursor: pointer;
          }
          a:hover {
            color: var(--color5);
          }
          & .div-img {
            display: flex;
            flex-direction: column;
            height: 100%;
            & img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-Semantic {
    .container {
      .containt {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        table {
          width: 90%;
          margin: auto;
        }
        .div-img {
          width: 90%;
          height: 100%;
          img {
            border-radius: 10px;
            width: 100%;
            display: inline-block;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
      }
    }
  }
  #session3-AudioVideo {
    & .container {
      & .containet {
        & .audio,
        & .video {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          & .col2 {
            width: 95%;
            & .div-img {
              & img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 0 3px 3px rgb(172, 170, 170);
              }
            }
          }
          & .col1 {
            width: 95%;
            & video {
              width: 100%;
              height: fit-content;
            }
            & audio {
              width: 100%;
              height: 30px;
            }
          }
        }
        & .compair {
          display: flex;
          flex-direction: column;
          align-items: center;
          & h3 {
            & span {
              font-size: inherit;
            }
          }
          & table {
            width: 95%;
          }
        }
      }
    }
  }
  #session3-assignment {
    & p {
      background-color: black;
      color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
    }
  }
}
@media (min-width: 391px) and (max-width: 767px) {
  #session3-attributes {
    & .container {
      & .containt {
        justify-content: space-between;
        margin-block: 20px;
      }
    }
  }
  #session-detailsSummary {
    .container {
      .containt {
        display: flex;
        .col1,
        .col2 {
          width: 40%;
          .div-img {
            height: 100%;
            img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-entitie {
    & .container {
      & .containt {
        justify-content: space-between;
        margin-block: 20px;
        display: flex;
        #describe-entities {
          width: 70%;
        }
        .col1,
        .col2 {
          width: 45%;
          display: flex;
          flex-direction: column;

          a {
            color: blue;
            cursor: pointer;
          }
          a:hover {
            color: var(--color5);
          }
          & .div-img {
            display: flex;
            flex-direction: column;
            height: 100%;
            & img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-Semantic {
    & .container {
      & .containt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .div-img {
          width: 45%;
          height: 100%;
          & img {
            border-radius: 10px;
            width: 100%;
            display: inline-block;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
      }
    }
  }
  #session3-AudioVideo {
    & .container {
      & .containet {
        & .audio,
        & .video {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & .col2 {
            width: 45%;
            & .div-img {
              & img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 0 3px 3px rgb(172, 170, 170);
              }
            }
          }
          & .col1 {
            width: 45%;
            & video {
              width: 100%;
              height: fit-content;
            }
            & audio {
              width: 100%;
              height: 30px;
            }
          }
        }
        .video .col2 {
          margin-bottom: 100px;
        }
        & .compair {
          display: flex;
          flex-direction: column;
          align-items: center;
          & h3 {
            & span {
              font-size: inherit;
            }
          }
          & table {
            width: 90%;
          }
        }
      }
    }
  }
  #session3-assignment {
    & p {
      background-color: black;
      color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
    }
  }
}
@media (min-width: 768px) {
  #session3-attributes {
    & .container {
      & table {
        margin-left: 30px;
      }
    }
  }
  #session-detailsSummary {
    .container {
      .containt {
        display: flex;
        .col1,
        .col2 {
          width: 40%;
          .div-img {
            height: 100%;
            img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-entitie {
    & .container {
      & .containt {
        justify-content: space-between;
        margin-block: 20px;
        .col1,
        .col2 {
          width: 45%;
          display: flex;
          flex-direction: column;

          a {
            color: blue;
            cursor: pointer;
          }
          a:hover {
            color: var(--color5);
          }
          & .div-img {
            display: flex;
            flex-direction: column;
            height: 100%;
            & img {
              border-radius: 10px;
              width: 100%;
              display: inline-block;
              box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            }
          }
        }
      }
    }
  }
  #session3-Semantic {
    & .container {
      & .containt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .div-img {
          width: 35%;
          height: 100%;
          & img {
            border-radius: 10px;
            width: 100%;
            display: inline-block;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
        & table {
          margin-left: 30px;
        }
      }
    }
  }
  #session3-AudioVideo {
    & .container {
      & .containet {
        & .audio,
        & .video {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & .col2 {
            width: 45%;
            margin-bottom: 60px;
            & .div-img {
              & img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 10px;
                box-shadow: 0 0 3px 3px rgb(172, 170, 170);
              }
            }
          }
          & .col1 {
            & video {
              margin-left: 30px;
              margin-block: 20px;
            }
            & audio {
              margin-left: 30px;
              margin-block: 20px;
            }
          }
        }
        & .compair {
          display: flex;
          flex-direction: column;
          align-items: center;
          & h3 {
            & span {
              font-size: inherit;
            }
          }
          & table {
            width: 50%;
          }
        }
      }
    }
  }
  #session3-assignment {
    & p {
      background-color: black;
      color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
    }
  }
}
