@media (max-width: 390px) {
  #session2-list {
    & .containt {
      margin-block: 20px;
      flex-direction: column;
      & .ol-ul-dl {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        & #ol,
        & #ul,
        & #dl {
          width: 95%;
          background-color: #fff;
          border-radius: 10px;
          padding: 5px;
          margin-block: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          height: 300px;
        }
      }
    }
    & #div-img {
      margin: auto;
      padding: 5px;
      & img {
        display: block;
        width: 100%;
        margin: auto;
        box-shadow: 0 0 3px 3px rgb(172, 170, 170);
      }
    }
    & .containt-sublist {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      background-color: #eee;
      border-radius: 10px;
      padding: 20px;

      & .col1,
      & .col2 {
        width: 25%;
        padding: 10px;

        min-height: 100%;
        & ul {
          margin-left: 20px;
        }
      }

      & .col2 {
        background-color: var(--color3);
        box-shadow: 0 0 3px 3px rgb(172, 170, 170);
        border-radius: 10px;
        width: fit-content;
        padding: 20px;
      }
    }
  }
  #session2-image {
    & .container {
      padding: 10px;
      & .containt {
        & .con1 {
          width: 45%;
          display: flex;
          padding-top: 10px;
        }
        & .con2 {
          width: 40%;
          & img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
      }
    }
  }
  #session2-table {
    & .container {
      padding: 10px;
      .containt {
        padding: 10px;
        border-radius: 22px;
        background-color: #eee;
        justify-content: space-between;

        & .con1 {
          width: 45%;
          & pre {
            margin-top: 5px;
            font-size: 10px;
            font-weight: 300;
          }
        }
        & .con2 {
          align-items: center;
          margin-top: 20px;
        }
      }
    }
  }
  #session2-divspan {
    & .container {
      padding: 10px;
      & .containt {
        margin-block: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eee;
        border-radius: 10px;
        padding: 10px;

        & .div-contain1,
        & .div-contain2 {
          width: 50%;
          padding: 5px;
          background-color: var(--color3);
          border-radius: 10px;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          & ul {
            margin-bottom: 5px;
          }
        }
        & .div-contain1 {
          width: fit-content;
        }
        & .div-desc {
          display: flex;
          align-items: center;
          width: 45%;
        }
      }
    }
  }
  #session2-assignment {
    & .container {
      padding: 10px;

      & #div-imgs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        & .div-img {
          width: 100%;
          height: 200px;
          & img {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
        & :nth-child(1) {
          height: 150px;
          width: 50%;
          margin-block: 10px;
        }
        & :nth-child(2) {
          width: 100%;
          height: 80px;
        }
        & :nth-child(4) {
          height: 30px;
        }
      }
    }
  }
}
@media (min-width: 391px) and (max-width: 767px) {
  #session2-anchor {
    & .container {
      padding: 10px;
    }
  }
  #session2-format {
    & .container {
      padding: 10px;
    }
  }
  #session2-list {
    & .container {
      padding: 10px;
      & #type-list {
        margin-left: 30px;
        margin-bottom: 10px;
        & li {
          font-size: 10px;
        }
      }
      & .containt {
        margin-block: 20px;
        flex-direction: column;
        & .ol-ul-dl {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & #ol,
          & #ul,
          & #dl {
            width: 32%;
            background-color: #fff;
            border-radius: 10px;
            padding: 3px;
            margin: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            height: 300px;
            & h3 {
              text-align: center;
              margin-block: 10px;
              font-weight: 400;
            }
            & p {
              margin: 5px;
              font-size: 10px;
              font-weight: 300;
              & span {
                color: var(--color5);
                font-size: 10px;
                font-weight: 300;
              }
            }
            & pre {
              margin-top: 5px;
              font-size: 10px;
              font-weight: 300;
            }
          }
        }
      }
      & .containt-sublist {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #eee;
        border-radius: 10px;

        & .col1,
        & .col2 {
          width: 25%;
          padding: 10px;

          min-height: 100%;
          & ul {
            margin-left: 20px;
          }
        }

        & .col2 {
          background-color: var(--color3);
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          border-radius: 10px;
          width: fit-content;
          padding: 20px;
        }
      }
      & #div-img {
        margin: auto;
        padding: 5px;
        & img {
          display: block;
          width: 80%;
          margin: auto;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
        }
      }
    }
  }
  #session2-image {
    & .container {
      padding: 10px;
      & .containt {
        & .con1 {
          width: 45%;
          display: flex;
          padding-top: 30px;
          margin-left: 20px;
          & li {
            font-size: 10px;
          }
        }
        & .con2 {
          width: 40%;
          & img {
            width: 100%;
            height: 100%;
            border-radius: 22px;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
      }
    }
  }
  #session2-table {
    & .container {
      padding: 10px;
      .containt {
        padding-top: 15px;
        border-radius: 22px;
        background-color: #eee;
        justify-content: space-around;
        & .con1 {
          width: 45%;
          & pre {
            margin-top: 5px;
            font-size: 10px;
            font-weight: 300;
          }
        }
        & .con2 {
          align-items: center;
        }
      }
    }
  }
  #session2-divspan {
    & .container {
      padding: 10px;
      & .containt {
        margin-block: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #eee;
        border-radius: 10px;
        padding: 10px;

        & .div-contain1,
        & .div-contain2 {
          width: 45%;
          padding: 15px;
          background-color: var(--color3);
          border-radius: 22px;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          & ul {
            margin-left: 25px;
            margin-bottom: 5px;
          }
        }
        & .div-contain1 {
          width: fit-content;
        }
        & .div-desc {
          display: flex;
          align-items: center;
          width: 45%;
        }
      }
    }
  }
  #session2-assignment {
    & .container {
      padding: 10px;

      & #div-imgs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        & .div-img {
          width: 45%;
          height: 200px;
          & img {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
        & :nth-child(1) {
          height: 150px;
          width: 30%;
          margin-block: 10px;
        }
        & :nth-child(2) {
          width: 35%;
          height: 80px;
        }
        & :nth-child(4) {
          height: 30px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  #session2-list {
    & .container {
      & #type-list {
        margin-left: 40px;
        margin-bottom: 10px;

        & li {
          font-size: 15px;
        }
      }
      & .containt {
        flex-direction: column;
        margin: 10px;
        & .ol-ul-dl {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          & #ol,
          & #ul,
          & #dl {
            width: 33%;
            background-color: #fff;
            border-radius: 10px;
            padding: 5px;
            margin-block: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
            height: 450px;
          }
        }
      }
      & #div-img {
        margin: 10px auto;
        padding: 5px;
        & img {
          display: block;
          width: 80%;
          margin: auto;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
        }
      }
      & .containt-sublist {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        background-color: #eee;
        border-radius: 10px;

        & .col1,
        & .col2 {
          width: 25%;
          padding: 10px;
          min-height: 100%;
        }

        & .col2 {
          background-color: var(--color3);
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          border-radius: 10px;
          width: fit-content;
          padding: 20px;
        }
      }
    }
  }
  #session2-image {
    & .container {
      & .containt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .con1 {
          width: 45%;
          display: flex;
        }
        & .con2 {
          width: fit-content;
          & img {
            width: 300px;
            border-radius: 22px;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
      }
    }
  }
  #session2-table {
    & .container {
      .containt {
        border-radius: 22px;
        background-color: #eee;
        justify-content: space-around;
        margin: 10px;
        & .con1 {
          width: 45%;
          & pre {
            margin-top: 10px;
          }
        }
        & .con2 {
          align-items: center;
        }
      }
    }
  }
  #session2-divspan {
    & .container {
      & .containt {
        margin-block: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #eee;
        border-radius: 10px;
        padding: 15px;
        & .div-contain1,
        & .div-contain2 {
          width: 25%;
          padding: 15px;
          background-color: var(--color3);
          border-radius: 22px;
          box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          & ul {
            margin-left: 25px;
            margin-bottom: 5px;
          }
        }
        & .div-contain1 {
          width: fit-content;
        }
        & .div-desc {
          display: flex;
          align-items: center;
          width: 45%;
        }
      }
    }
  }
  #session2-assignment {
    & .container {
      & #div-imgs {
        background-color: black;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 3px 3px rgb(172, 170, 170);
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .div-img {
          width: 25%;
          height: 200px;
          & img {
            display: block;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 3px 3px rgb(172, 170, 170);
          }
        }
        & :nth-child(1) {
          width: 13%;
          height: 150px;
        }
        & :nth-child(2) {
          height: 110px;
        }
        & :nth-child(4) {
          height: 30px;
        }
      }
    }
  }
}
