@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}
:root {
  --color1: #e9dbdb;
  --color2: rgba(242, 193, 33);
  --color3: rgba(243, 225, 164, 0.778);
  --color4: black;
  --color5: rgb(139, 12, 12);
  --color6: #d1a21a;
  --bgcolor: rgb(199, 198, 191);
}
body {
  background-color: var(--bgcolor);
}

.border {
  border: 1px solid red;
}

@media (max-width: 390px) {
  /* & .nav-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 55px;
    list-style: none;
    border: 1px solid #fff;
    background-color: #f16529ec;
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    display: none;
    height: 30px;
    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
        color: rgb(252, 252, 252);
      }
      & a:hover {
        color: black;
      }
    }
  }
  & .nav-site {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 5px;
    list-style: none;
    border: 1px solid var(--color1);
    box-shadow: 0 0 1px 1px #fff;
    background-color: rgba(144, 47, 23, 0.916);
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    display: none;
    height: 30px;

    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
      }
      & a:hover {
        color: black;
      }
    }
  } */
  & header {
    display: none;
  }
  & aside {
    display: block;
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.911);
    display: none;
    & ul {
      list-style: none;
    }
  }
  .container {
    width: 95%;
    margin: auto;
    padding: 10px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(241, 101, 41, 0.3);
    & .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & .iden {
      color: var(--color5);
      font-weight: 600;
    }
    & h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
    }
    & h3 {
      margin: 10px;
      font-size: 15px;
      font-weight: 300;
      margin-left: 0px;
    }
    & p {
      margin: 5px;
      font-size: 10px;
      padding-left: 5px;
    }
    & pre {
      font-size: 10px;
      font-weight: 400;
    }
    & ul,
    & ol,
    & dl {
      margin-left: 20px;
      margin-bottom: 10px;
      & li,
      & dt {
        font-size: 10px;
      }
    }
    & span {
      font-weight: 400;
      color: var(--color5);
      font-size: 10px;
    }
    & a {
      text-decoration: none;
    }
    & hr {
      width: 100%;
      height: 4px;
      background: linear-gradient(
        to right,
        rgb(32, 32, 32),
        rgb(187, 183, 183)
      );
      border-radius: 22px;
      margin: auto;
      margin-block: 30px;
    }
    table {
      border: 1px solid rgb(161, 158, 158);
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
      background-color: #eee;
      border-radius: 10px;
      padding: 5px;
      & thead {
        tr {
          th {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
            background-color: var(--color4);
            color: #fff;
            padding: 5px;
          }
        }
      }
      & tbody {
        & tr {
          & td {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
          }
        }

        & tr:nth-child(odd) {
          background-color: var(--color1);
        }

        & tr:nth-child(even) {
          background-color: var(--bgcolor);
        }
      }
      & tfoot {
        tr {
          td {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
            background-color: var(--color4);
            color: #fff;
          }
        }
      }
      & tr {
        & td {
          border-bottom: 1px solid black;
          padding: 5px;
        }
      }
    }
    & .div-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 10px;
    }
    & .iden {
      color: var(--color5);
      font-weight: 600;
    }
  }
  header,
  footer {
    & .container {
      padding: 0px;
      background-color: var(--bgcolor);
      box-shadow: none;
      & h1 {
        text-align: center;
        margin-block: 20px;
        font-size: 1.2rem;
      }
      & h2 {
        text-align: center;
        margin-block: 20px;
        font-size: 1rem;
        color: rgb(56, 56, 185);
        & img {
          width: 18px;
        }
      }
      & .nav-page {
        display: flex;
        justify-content: space-around;
        list-style: none;
        border: 1px solid rgb(243, 248, 243);
        background-color: rgb(69, 70, 69);
        border-radius: 10px;
        padding-block: 8px;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 100%;
        margin-left: 0px;
        & li {
          & a {
            text-decoration: none;
            font-size: 8px;
            font-weight: 600;
            text-transform: capitalize;
            color: rgb(252, 252, 252);
          }
          & a:hover {
            color: rgb(81, 192, 100);
          }
        }
      }
      & .nav-site {
        display: flex;
        justify-content: space-around;
        list-style: none;
        border: 1px solid var(--color1);
        box-shadow: 0 0 1px 1px rgb(172, 170, 170);
        background-color: var(--color3);
        border-radius: 10px;
        padding-block: 8px;
        margin-top: 40px;
        margin-bottom: 5px;
        width: 100%;
        margin-left: 0px;

        & li {
          & a {
            text-decoration: none;
            font-size: 8px;
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(56, 56, 185);
          }
          & a:hover {
            color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 390px) and (max-width: 767px) {
  & .nav-page {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 5px;
    list-style: none;
    border: 1px solid #fff;
    background-color: #f2c021;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
        color: rgb(53, 52, 52);
      }
      & a:hover {
        color: #fff;
      }
    }
  }
  & .nav-site {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border: 1px solid var(--color1);
    box-shadow: 0 0 1px 1px #fff;
    background-color: #e6a429db;
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    height: 30px;

    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: rgb(53, 52, 52);
      }
      & a:hover {
        color: #fff;
      }
    }
  }
  & aside {
    display: none;
  }
  .container {
    width: 95%;
    margin: auto;
    padding: 20px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(241, 101, 41, 0.3);
    & .content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 20px;
    }
    & h3 {
      margin: 10px;
      font-size: 15px;
      font-weight: 300;
    }
    & p {
      margin: 10px;
      font-size: 10px;
      padding-left: 10px;
    }
    & pre {
      font-size: 10px;
      font-weight: 400;
    }
    & ul,
    & ol,
    & dl {
      margin-left: 20px;
      margin-bottom: 10px;
      & li,
      & dt {
        font-size: 10px;
        font-weight: 300;
      }
    }
    & span {
      font-weight: 400;
      color: var(--color5);
      font-size: 10px;
    }
    & a {
      text-decoration: none;
    }
    & hr {
      width: 100%;
      height: 4px;
      background: linear-gradient(
        to right,
        rgb(32, 32, 32),
        rgb(187, 183, 183)
      );
      border-radius: 22px;
      margin: auto;
      margin-block: 30px;
    }
    table {
      border: 1px solid rgb(161, 158, 158);
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
      background-color: #eee;
      border-radius: 10px;
      padding: 5px;
      & thead {
        tr {
          th {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
            background-color: var(--color4);
            color: #fff;
            padding: 5px;
          }
        }
      }
      & tbody {
        & tr {
          & td {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
          }
        }

        & tr:nth-child(odd) {
          background-color: var(--color1);
        }

        & tr:nth-child(even) {
          background-color: var(--bgcolor);
        }
      }
      & tfoot {
        tr {
          td {
            text-align: center;
            font-size: 10px;
            font-weight: 400;
            background-color: var(--color4);
            color: #fff;
          }
        }
      }
      & tr {
        & td {
          border-bottom: 1px solid black;
          padding: 5px;
        }
      }
    }
    & .div-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 30px;
    }
    & .iden {
      color: var(--color5);
      font-weight: 600;
    }
  }
  header {
    & .container {
      padding: 0px;
      box-shadow: none;
      background-color: var(--bgcolor);
      position: static;
      & h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 2rem;
        color: rgb(69, 70, 69);
        color: #fff;
        text-shadow: 2px 2px 4px black;
        /* border: 1px solid red; */
      }
      & h2 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.2rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
        display: flex;
        align-items: center;
        justify-content: center;

        & .fa-file-pdf {
          color: #f2c021;
          margin-left: 10px;
          transition: all 0.5s ease;
        }
        & .fa-file-pdf:hover {
          transform: scale(1.09);
          text-shadow: 2px 2px 4px black;
        }
      }
      & #logo {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  & .nav-page {
    position: sticky;
    top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border: 1px solid #fff;
    background-color: #f2c021;
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(53, 52, 52);
      }
      & a:hover {
        color: #fff;
      }
    }
  }
  & .nav-site {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid var(--color1);
    box-shadow: 0 0 1px 1px #fff;
    background-color: #e6a429db;
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    height: 30px;
    & li {
      display: flex;
      align-items: center;
      & a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: rgb(53, 52, 52);
      }
      & a:hover {
        color: #fff;
      }
    }
  }
  .container {
    width: 95%;
    margin: auto;
    padding: 30px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(242, 193, 33, 0.5);
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    h2 {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 50px;
      font-size: 30px;
    }
    h3 {
      margin: 15px;
      font-size: 25px;
      font-weight: 400;
      span {
        font-size: inherit;
      }
    }
    p {
      margin: 10px;
      font-size: 15px;
      padding-left: 10px;
      font-weight: 400;
    }
    pre {
      font-size: 15px;
      font-weight: 400;
    }
    ul,
    ol,
    dl {
      margin: 10px;
      margin-left: 40px;
      li,
      dt {
        font-size: 15px;
        font-weight: 400;
      }
    }
    span {
      font-weight: 400;
      color: var(--color5);
      font-size: 15px;
    }
    a {
      text-decoration: none;
    }
    hr {
      width: 100%;
      margin-inline: auto;
      background-color: #444242;
      height: 3px;
      margin-block: 40px;
    }
    table {
      border: 1px solid rgb(161, 158, 158);
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
      background-color: #eee;
      border-radius: 10px;
      padding: 5px;
      thead {
        tr {
          th {
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            background-color: var(--color4);
            color: #fff;
            padding: 5px;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
          }
        }

        tr:nth-child(odd) {
          background-color: var(--color1);
        }

        tr:nth-child(even) {
          background-color: var(--bgcolor);
        }
      }

      tfoot {
        tr {
          td {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            background-color: var(--color4);
            color: #fff;
          }
        }
      }

      tr {
        td {
          border-bottom: 1px solid black;
          padding: 10px;
        }
      }
    }
    .div-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .iden {
      color: var(--color5);
      font-weight: 600;
    }
  }
  aside {
    display: none;
  }
  header {
    .container {
      padding: 0px;
      box-shadow: none;
      background-color: var(--bgcolor);
      h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 2.5rem;
        color: rgb(69, 70, 69);
        color: #fff;
        text-shadow: 2px 2px 4px black;
      }
      h2 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.7rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-file-pdf {
          color: #f2c021;
          margin-left: 10px;
          transition: all 0.5s ease;
        }
        .fa-file-pdf:hover {
          transform: scale(1.09);
          text-shadow: 2px 2px 4px black;
        }
      }
      #logo {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 80px;
          height: 80px;
        }
      }
    }
  }
  .notes {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    background-color: var(--color3);
    border: 1px solid var(--color5);
    border-radius: 10px;
    box-shadow: 0 0 1px 2px var(--color6);
    h3 {
      margin-block: 2px;
      font-size: 15px;
      display: inline-block;
    }
    p {
      font-size: 12px;
      display: inline-block;
    }
    ul li {
      font-size: 12px;
    }
  }
}
