@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: all 0.5s ease;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 360px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  .cart-title {
    font-size: 30px;
    text-align: center;
  }
  .cart-content {
    .cart-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 6px;
        object-fit: cover;
        margin-right: 20px;
      }
      .cart-detail {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .cart-product-title {
          font-size: 16px;
          line-height: 1;
        }
        .cart-price {
          font-weight: 500;
        }
        .cart-quantity {
          display: flex;
          width: 100px;
          border: 1px solid #999;
          border-radius: 6px;
          button {
            background-color: transparent;
            width: 30px;
            border: none;
            font-size: 20px;
            cursor: pointer;
          }
          .decrement,
          .increment {
            color: #999;
          }
          .number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            cursor: default;
          }
        }
      }
      .cart-remove {
        font-size: 25px;
        cursor: pointer;
      }
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
    font-size: 18px;
    .total-price {
      margin-left: 10px;
      font-weight: 600;
    }
  }

  .btn-buy {
    display: block;
    padding: 10px 30px;
    background-color: #e35f26;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
  }
  #cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
  }
}
.cart.active {
  right: 0;
}

body {
  color: #333;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 9%;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;

  .logo {
    font-size: 25px;
    font-weight: 600;
  }

  #cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    .cart-item-count {
      position: absolute;
      top: -0px;
      right: -6px;
      background-color: #e35f26;
      border-radius: 50%;
      color: #fff;
      width: 20px;
      height: 20px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
    }
  }
}

.shop {
  /* border: 1px solid red; */
  padding: 100px 10px;
  width: 90%;
  margin: auto;
  .section-title {
    /* border: 1px solid red; */
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
  }
  .product-content {
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    .product-box {
      border: 1px solid #999;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      width: 280px;
      padding: 15px;
      text-align: center;
      .img-box {
        width: 100%;
        height: 260px;
        margin-bottom: 10px;
        overflow: hidden;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          transition: all 0.5s ease;
        }
        img:hover {
          transform: scale(1.1);
        }
      }
      .product-title {
        text-align: left;
        font-size: 20px;
        margin: 5px;
      }
      .price-and-cart {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        .price {
          margin-right: 5px;
          font-size: 18px;
          font-weight: 500;
        }
        .add-cart {
          padding: 10px;
          background-color: #e35f26;
          border-radius: 6px;
          font-size: 20px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}


