@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

:root {
  --color1: #eee;
  --color2: #ddd;
  --color3: #f1a5a5;
  --color4: rgb(201, 235, 179);
  --color5: #4d4a4a80;
}

body {
  background-color: var(--color1);

}

.container {
  width: 80%;
  margin: auto;
  padding: 50px;
  margin-block: 20px;
  background-color: #ddd;
  border-radius: 22px;
  & .containt {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: var(--color3);
}

.img {
  background-image: url("./img/questionmark.png");
  background-size: cover;
  background-position: center;
  display: block;
}

section {
  & span {
    font-weight: 500;
    color: blue;
  }
  & h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 40px;
  }
  & h3 {
    margin-top: 20px;
  }

  & p {
    margin: 20px 0px 20px;
    font-size: 15px;
    padding-left: 20px;
  }

  & ul,
  ol,dl {
    margin-left: 50px;
    margin: 20px;
    & li {
      padding-block: 5px;
    }
    & span {
      font-weight: 500;
      color: blue;
    }

    
  }
}

#colorhunt {
  border-radius: 22px;
  box-shadow: 0 0 15px gray;
  transition: all 0.7s ease;
}

#colorhunt:hover {
  border-radius: 22px;
  transform: scale(1.05);
}

#hr1 {
  width: 70%;
  height: 5px;
  background-color: black;
  margin-inline: auto;
  margin-block: 40px;
}


header,
footer {
  & .container {
    background-color: var(--color1);
    width: 100%;
    & h1 {
      text-align: center;
      margin-block: 20px;
      font-size: 50px;
    }
    & h2 {
      text-align: center;
      margin-block: 20px;
      font-size: 25px;
      color: rgb(56, 56, 185);
    }
    & .nav-page {
      display: flex;
      justify-content: space-around;
      list-style: none;
      border: 1px solid rgb(243, 248, 243);
      background-color: rgb(132, 133, 132);
      border-radius: 22px;
      padding-block: 10px;
      margin-top: 10px;
      margin-bottom: 30px;
      & li {
        & a {
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
          text-transform: capitalize;
          color: rgb(252, 252, 252);
        }
        & a:hover {
          color: var(--color4);
        }
      }
    }
    & .nav-site {
      display: flex;
      justify-content: space-around;
      list-style: none;
      border: 1px solid var(--color1);
      background-color: var(--color3);
      border-radius: 22px;
      padding-block: 15px;
      margin-top: 40px;
      margin-bottom: 10px;
      & li {
        & a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          color: rgb(56, 56, 185);
        }
        & a:hover {
          color: #fff;
        }
      }
    }
  }
}

