main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .cart-products {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
    border-radius: 5px;
    padding: 20px;

    .products {
      width: 100%;
      .product {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        border-top: 2px solid var(--blue);
        margin-block: 10px;

        .fa-regular {
          color: red;
          font-size: 20px;
          cursor: pointer;
          transition: all 0.2s ease;
        }
        .fa-regular:hover {
          transform: scale(1.1);
        }

        .price {
          color: var(--btn-bg);
          font-size: 15px;
          font-weight: 600;
        }

        .quantity-control {
          display: flex;
          align-items: center;
          justify-content: space-around;
          .quantity {
            background-color: var(--blue);
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-weight: 600;
            margin-inline: 10px;
            color: var(--btn-color);
            font-size: 15px;
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px 5px;
            height: 15px;
            width: 15px;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
            color: var(--blue);
            transition: all 0.2s ease;
          }

          button:hover {
            box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
          }
        }
      }
    }
    .clear-cart {
      background-color: red;
      color: var(--btn-color);
      padding: 10px;
      border-radius: 5px;
      width: fit-content;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    h2 {
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .checkout {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
      width: 40%;

      .subtotal {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        font-weight: 500;
      }

      a {
        width: 100%;
        padding-block: 10px;
        font-weight: 600;
        font-size: 20px;
        color: var(--btn-color);
        background-color: var(--blue);
        columns: var(--btn-color);
        text-align: center;
        transition: 0;
      }

      a:hover {
        transform: none;
      }

      .note {
        text-align: center;
        color: red;
        padding-block: 10px;
      }
    }
  }
}

@media (width < 930px) {
  main {
    .cart-products {
      width: 60%;
      button {
        font-size: 15px;
      }

      .checkout {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
        width: 70%;
        font-size: 13px;
        font-weight: 600;

        .subtotal {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          font-weight: 500;
        }

        a {
          width: 100%;
          padding-block: 10px;
          font-weight: 600;
          font-size: 20px;
          color: var(--btn-color);
          background-color: var(--blue);
          columns: var(--btn-color);
          text-align: center;
          transition: 0;
        }

        a:hover {
          transform: none;
        }

        .note {
          font-size: 13px;
        }
      }
    }
  }
}

@media (width < 400px) {
  main {
    .cart-products {
      width: 90%;
      .products {
        .product {
          .fa-regular {
            font-size: 12px;
          }
          .price {
            font-size: 12px;
          }

          .quantity-control {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .quantity {
              background-color: var(--blue);
              width: 25px;
              height: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-weight: 600;
              font-size: 12px;
              margin-inline: 10px;
              color: var(--btn-color);
            }
          }
        }
      }
      .checkout {
        width: 80%;
        font-size: 12px;
        font-weight: 800;
        a {
          font-weight: 600;
          font-size: 15px;
        }
        a:hover {
          transform: none;
        }
        .note {
          padding-block: 10px;
        }
      }
    }
  }
}
