footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  span {
    color: var(--blue);
    font-size: 20px;
    font-weight: 800;
  }
}

@media (width < 930px) {
  footer {
    font-size: 10px;
    span {
      font-size: 15px;
    }
  }
}
@media (width < 400) {
}
