footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
  font-size: 15px;
  margin-top: 30px;
  text-align: center;
  span {
    color: red;
    font-size: 20px;
  }
}