main {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bac.jpg);
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  .containt {
    position: absolute;
    top: 40%;
    left: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .lifestyle {
      font-size: 1.1rem;
      font-weight: 400;
    }
    .men {
      font-size: 2.1rem;
      font-weight: bold;
      margin-top: 10px;
    }
    .sale {
      font-weight: bold;
      margin-block: 10px;
      font-size: 2.1rem;

      span {
        color: red;
        margin-left: 0.8rem;
      }
    }
    button {
      background-color: var(--btn-bg);
      color: var(--btn-color);
      width: fit-content;
      padding: 10px 15px;
      margin-top: 20px;
      border-radius: 5px;
    }
  }
}

.recommended-products {
  width: 80%;
  margin: auto;

  h1 {
    margin-block: 20px;
    font-size: 25px;
    text-align: center;
  }

  .fa-check {
    margin-left: -20px;
  }

  .cardes {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;

    .card {
      width: 266px;
      height: 400px;
      box-shadow: 0 0 2px 2px rgba(144, 142, 142, 0.5);
      border-radius: 5px;
      padding: 10px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .product-img {
        display: block;
        width: 100%;
        height: 50%;
        background-color: #fff;
        img {
          display: block;
          width: 100%;
          height: 100%;
          transition: all 0.5s ease;
          cursor: pointer;
        }
        img:hover {
          transform: scale(1.05);
        }
      }

      hr {
        width: 100%;
        height: 3px;
        background-color: #ddd;
        border-radius: 20px;
      }

      h2 {
        font-size: 20px;
        font-weight: 600;
      }

      p {
        font-size: 15px;
      }

      .card-foot {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          color: red;
          font-weight: 600;
          font-size: 15px;
        }

        button {
          background-color: #9fc5ef;
          padding: 10px;
          border-radius: 5px;
          font-weight: bold;
          color: #333;
          text-transform: capitalize;
          font-size: 13px;
        }

        .fa-solid {
          color: inherit;
        }

        button:hover {
          color: #fff;
          i {
            color: inherit;
          }
        }
      }
    }
  }
}

@media (width < 930px) {
  main {
    .containt {
      left: 10%;
      flex-direction: column;
      .sale {
        span {
          margin-left: 1.8rem;
        }
      }
    }
  }
  .recommended-products {
    width: 90%;
    margin: auto;
    h1 {
      font-size: 20px;
    }
    .fa-check {
      margin-left: -30px;
    }
  }
}
