main {
  width: 100%;
  height: 100vh;
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .details {
    width: 40%;
    height: 400px;
    box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .div-img {

      width: 35%;
      height: 200px;
      align-self: center;
      
      img {
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    
    .content {
      width: 60%;

      .head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-block: 10px;

        p {
          color: red;
          font-size: 20px;
          font-weight: 600;
        }
      }

      button {
        background-color: var(--blue);
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        color: var(--btn-card-color);
        text-transform: capitalize;
        font-size: 13px;
        margin-block: 10px;
      }

      .fa-solid {
        color: inherit;
      }

      button:hover {
        color: var(--btn-card-color-hover);
        i {
          color: inherit;
        }
      }
    }
  }
}
