main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  form {
    box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: 40%;
    width: 30%;
    border-radius: 5px;
    background-color: var(--body-bg);
    color: var(--body-Font);
    .inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        padding: 5px;
        width: 95%;
        border: none;
        outline: none;
        border-radius: 5px;
        margin-block: 5px;
        box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
      }
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus {
        box-shadow: 0 0 2px 2px rgba(94, 93, 93, 0.5);
      }

      label {
        font-weight: 700;
      }
    }
    #lab-checkout {
      margin-left: 10px;
    }
    :nth-of-type(4) {
      flex-direction: row;
    }

    button {
      background-color: var(--blue);
      padding: 10px;
      border-radius: 5px;
      align-self: center;
      font-weight: 700;
    }
  }
}
