main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fa-right-to-bracket {
      font-size: 25px;
      margin-bottom: 5px;
      border: 1px solid rgba(16, 12, 236, 0.387);
      box-shadow: 0 0 5px 3px var(--blue);
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--blue);
    }
    h2 {
      color: var(--blue);
      font-size: 30px;
      margin-bottom: 10px;
      text-shadow: 0 0 1px black;
    }
    form {
      background: linear-gradient(
        45deg,
        rgb(255, 255, 255),
        rgb(216, 212, 212)
      );
      box-shadow: 0 0 2px 2px var(--blue);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      width: 30%;
      border-radius: 5px;
      background-color: var(--body-bg);
      color: var(--body-Font);
      .inputs {
        padding: 10px;
        margin-block: 5px;
        display: flex;
        border-top: 2px solid var(--blue);
        border-radius: 10px;
        flex-direction: column;
        width: 100%;
        input[type="email"],
        input[type="password"] {
          padding: 5px;
          width: 98%;
          border: none;
          outline: none;
          border-radius: 5px;
          margin-block: 5px;
          box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
          box-shadow: 0 0 2px 2px rgba(94, 93, 93, 0.5);
        }
        label {
          font-weight: 600;
          font-size: 15px;
          .fa-solid {
            color: var(--blue);
          }
        }
      }
      nav {
        margin-bottom: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        a {
          color: var(--body-Font);
          font-weight: 600;
          font-size: 15px;
          transition: all 0.3s ease;
        }
        a:hover {
          color: rgb(65, 65, 217);
          transform: scale(1.02);
        }
      }
      button {
        background-color: var(--blue);
        color: var(--body-bg);
        padding: 10px 20px;
        border-radius: 5px;
        align-self: center;
        font-weight: 700;
      }
      a {
        margin-top: 10px;
        align-self: center;
        color: var(--body-Font);
        font-weight: 600;
        font-size: 15px;
        transition: all 0.3s ease;
      }
      a:hover {
        color: rgb(2, 2, 254);
        transform: scale(1.02);
      }
    }
  }
}

@media (width < 930px) {
  main {
    .container {
      height: fit-content;
      .fa-right-to-bracket {
        font-size: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      h2 {
        font-size: 15px;
      }
      form {
        width: 70%;
        .inputs {
          padding: 10px;
          margin-block: 5px;
          label {
            font-weight: 400;
            font-size: 12px;
            .fa-solid {
              color: var(--blue);
            }
          }
        }

        nav {
          a {
            font-weight: 600;
            font-size: 13px;
          }
        }
        button {
          padding: 10px 20px;
          font-weight: 600;
          font-size: 13px;
        }

        a {
          margin-top: 5px;
          font-weight: 600;
          font-size: 13px;
        }
      }
    }
  }
}

@media (width < 400px) {
  main {
    .container {
      form {
        width: 90%;
      }
    }
  }
}
