main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .fa-right-to-bracket {
      font-size: 40px;
      margin-bottom: 5px;
      border: 1px solid rgba(16, 12, 236, 0.387);
      box-shadow: 0 0 5px 3px var(--blue);
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--blue);
    }
    h2 {
      color: var(--blue);
      font-size: 30px;
      margin-bottom: 10px;
      text-shadow: 0 0 1px black;
    }
    form {
      background: linear-gradient(
        45deg,
        rgb(255, 255, 255),
        rgb(216, 212, 212)
      );
      box-shadow: 0 0 2px 2px var(--blue);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      width: 30%;
      border-radius: 5px;
      background-color: var(--body-bg);
      color: var(--body-Font);
      .inputs {
        padding: 15px 10px;
        border-top: 2px solid var(--blue);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-block: 10px;
        input[type="email"],
        input[type="password"] {
          padding: 10px;
          width: 95%;
          border: none;
          outline: none;
          border-radius: 5px;
          margin-block: 3px;
          box-shadow: 0 0 2px 2px rgba(180, 178, 178, 0.5);
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
          box-shadow: 0 0 2px 2px rgba(94, 93, 93, 0.5);
        }

        label {
          font-weight: 700;
        }
      }
      #lab-checkout {
        margin-left: 10px;
      }
      :nth-of-type(4) {
        flex-direction: row;
      }

      nav {
        margin-block: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        a {
          color: var(--body-Font);
          font-weight: 600;
          font-size: 15px;
          transition: all 0.3s ease;
        }

        a:hover {
          color: rgb(65, 65, 217);
          transform: scale(1.02);
        }
      }

      button {
        color: var(--body-bg);
        background-color: var(--blue);
        padding: 10px 30px;
        border-radius: 5px;
        align-self: center;
        font-weight: 700;
      }
      a {
        margin-top: 10px;
        align-self: center;
        color: var(--body-Font);
        font-weight: 600;
        font-size: 15px;
        transition: all 0.3s ease;
      }

      a:hover {
        color: rgb(65, 65, 217);
        transform: scale(1.02);
      }
    }
  }
}
