* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease;
}

:root {
  --header-bg-color: #ece4e42c;
  --f-color: #000;
  --a-hover-color: #aaa;
  --a-hover-bg-color: #333;
}

header {
  width: 100%;
  background-color: var(--header-bg-color);
  box-shadow: 0 5px 5px rgb(190, 188, 188, 0.5);
  .container {
    width: 80%;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      height: 100%;
      img {
        width: 70px;
        height: 70px;
      }
      span{
        color: var(--f-color);
        font-size: 40px;
      }
    }
    nav {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        display: inline-block;
        margin-inline: 20px;
        font-size: 15px;
        font-weight: 500;
        color: var(--f-color);
      }
      a:hover {
        color: var(--a-hover-color);
      }
    }
  }
}
