* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: rgb(8, 9, 19);
  color: #fff;
  align-items: center;
  justify-content: space-between;

  .brand {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;

    h1 {
      margin-left: 5%;
    }

    .fa-github {
      font-size: 35px;
    }
  }

  .navbar {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 70%;
    height: 100%;
    .searchbox {
      display: flex;
      align-items: center;
      height: 100%;
      /* border: 1px solid red; */
      width: 40%;
      input {
        width: 90%;
        height: 50%;
        border: none;
        border-radius: 15px;
        padding: 3%;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 500;
      }

      .fa-search {
        font-size: 25px;
        cursor: pointer;
        transition: all 0.5s ease;
      }
      .fa-search:hover {
        transform: scale(1.05);
        color: #aaa;
      }
    }
    ul {
      /* border: 1px solid red; */
      display: flex;
      justify-content: space-between;
      width: 40%;

      li a {
        color: #fff;
        /* border: 1px solid red; */
        font-size: 17px;
        font-weight: 500;
      }
      a:hover {
        color: lightgreen;
      }

      #sign-out {
        display: inline-block;
        background-color: #fff;
        color: #000;
        padding: 5px 10px;
        border-radius: 22px;
        transition: all 0.5s ease;
      }
      #sign-out:hover {
        background-color: #aaa;
        color: #fff;
        transform: scale(1.05);
      }
    }
  }
}
