@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto Slab", serif;
}
:root {
  --color3: #f1e4e4;
  --color1: #e9dbdb;
  --color2: #e870ed;
  --color4: black;
  --color5: rgb(139, 12, 12);
  --color6: rgba(25, 136, 200, 0.227);
  --bgcolor: rgb(199, 198, 191);
  --odd-td: rgba(144, 214, 241, 0.173);
  --even-td: rgba(207, 198, 198, 0.1);
}
body {
  background-color: var(--bgcolor);
}

@media (max-width: 390px) {
  .container {
    width: 95%;
    margin: auto;
    padding: 20px;
    padding-left: 35px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(172, 170, 170);
    & .containt {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & table {
      margin-left: 60px;
      border: 1px solid rgb(161, 158, 158);
      background-color: #eee;
      border-radius: 10px;
      padding: 10px;
      & thead tr td {
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        background-color: #ddd;
      }
      & tr:nth-child(odd) {
        background-color: #f1a5a5;
      }
      & tr td {
        border-bottom: 1px solid black;
        padding: 10px;
        font-size: 10px;
        font-weight: 400;
      }
    }
    & .iden {
      color: blue;
      font-weight: 600;
    }
    & hr {
      width: 100%;
      height: 4px;
      background: linear-gradient(
        to right,
        rgb(32, 32, 32),
        rgb(187, 183, 183)
      );
      border-radius: 22px;
      margin: auto;
      margin-block: 30px;
    }
    & span {
      font-weight: 400;
      color: var(--color5);
      font-size: 10px;
    }
    & a {
      text-decoration: none;
    }
  }
  & .nav-page {
    display: none;
  }
  & .nav-site {
    display: none;
  }
  & aside {
    display: block;
    position: absolute;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 101;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    & details {
      font-size: 25px;
      color: rgb(28, 136, 200);
      cursor: pointer;
      padding: 10px;
      & summary {
        list-style: none;
        & .fa-chevron-down {
          display: none;
        }
      }
      & ul {
        list-style: circle;
        padding-left: 20px;
        margin-left: 15px;
        & li {
          margin-top: 10px;
          & a {
            text-decoration: none;
            font-size: 20px;
            font-weight: 400;
            text-transform: capitalize;
            color: rgb(32, 32, 32);
          }
          & a:hover {
            color: rgb(28, 136, 200);
          }
        }
      }
    }
    & ul {
      list-style: none;
    }
    & header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid black;
      & h1 {
        font-size: 25px;
        color: rgba(24, 78, 122, 0.9);
        font-weight: 700;
      }
      & img {
        width: 50px;
        height: 50px;
      }
      & bottom {
        font-size: 25px;
        color: rgb(28, 136, 200);
        cursor: pointer;
      }
    }
  }
  header {
    & .container {
      padding: 0px;
      box-shadow: none;
      background-color: var(--bgcolor);
      & h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 2rem;
        color: rgb(69, 70, 69);
        color: #fff;
        text-shadow: 2px 2px 4px black;
        /* border: 1px solid red; */
      }
      & h2 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.2rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
        font-family: "Roboto Slab", serif;
        display: flex;
        align-items: center;
        justify-content: center;

        & .fa-file-pdf {
          color: rgb(28, 136, 200);
          margin-left: 10px;
          transition: all 0.5s ease;
        }
        & .fa-file-pdf:hover {
          transform: scale(1.09);
          text-shadow: 2px 2px 4px black;
        }
      }
      & #logo {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 50px;
          height: 50px;
        }
        & .fa-bars {
          position: absolute;
          top: 35px;
          right: 20px;
          font-size: 25px;
          color: rgb(28, 136, 200);
          cursor: pointer;
        }
      }
    }
  }
  & h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
  }
  & h3 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
  }
  & p {
    margin: 10px;
    font-size: 10px;
    padding-left: 10px;
  }
  & ul,
  & ol {
    margin-left: 20px;
    margin-bottom: 10px;
    & li {
      font-size: 10px;
    }
  }
}

@media (min-width: 390px) and (max-width: 767px) {
  .container {
    width: 95%;
    margin: auto;
    padding: 20px;
    padding-left: 35px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(28, 136, 200, 0.5);
    & .containt {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    & table {
      margin-left: 60px;
      border: 1px solid rgb(161, 158, 158);
      background-color: #eee;
      border-radius: 10px;
      padding: 10px;
      & thead tr td {
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        background-color: #ddd;
      }
      & tr:nth-child(odd) {
        background-color: #f1a5a5;
      }
      & tr td {
        border-bottom: 1px solid black;
        padding: 10px;
        font-size: 10px;
        font-weight: 400;
      }
    }
    & .iden {
      color: blue;
      font-weight: 600;
    }
    & hr {
      width: 100%;
      height: 4px;
      background: linear-gradient(
        to right,
        rgb(32, 32, 32),
        rgb(187, 183, 183)
      );
      border-radius: 22px;
      margin: auto;
      margin-block: 30px;
    }
    & span {
      font-weight: 400;
      color: var(--color5);
      font-size: 10px;
    }
    & a {
      text-decoration: none;
    }
  }
  & .nav-page {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 5px;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(28, 136, 200);
    box-shadow: 0 0 1px 1px #fff;
    border: 1px solid var(--color1);
    border-radius: 10px;
    padding-block: 10px;
    margin-top: 5px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    & li {
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
        color: rgb(252, 252, 252);
      }
      & a:hover {
        color: black;
      }
    }
  }
  & .nav-site {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid var(--color1);
    box-shadow: 0 0 1px 1px #fff;
    background-color: rgba(24, 78, 122, 0.9);
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;

    & li {
      & a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
      }
      & a:hover {
        color: black;
      }
    }
  }
  & aside {
    display: none;
  }
  header {
    & .container {
      padding: 0px;
      box-shadow: none;
      background-color: var(--bgcolor);
      & h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 2.5rem;
        color: rgb(69, 70, 69);
        color: #fff;
        text-shadow: 2px 2px 4px black;
      }
      & h2 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.7rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
        font-family: "Roboto Slab", serif;
        display: flex;
        align-items: center;
        justify-content: center;

        & .fa-file-pdf {
          color: #1989c8;
          margin-left: 10px;
          transition: all 0.5s ease;
        }
        & .fa-file-pdf:hover {
          transform: scale(1.09);
          text-shadow: 2px 2px 4px black;
        }
      }
      & #logo {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 80px;
          height: 80px;
        }
        & .fa-bars {
          display: none;
        }
      }
    }
  }
  & h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
  }
  & h3 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 300;
  }
  & p {
    margin: 10px;
    font-size: 10px;
    padding-left: 10px;
  }
  & ul,
  & ol {
    margin-left: 20px;
    margin-bottom: 10px;
    & li {
      font-size: 10px;
    }
  }
}

@media (min-width: 767px) {
  .nav-page {
    display: flex;
    position: sticky;
    z-index: 100;
    top: 5px;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(28, 136, 200);
    box-shadow: 0 0 1px 1px #fff;
    border: 1px solid var(--color1);
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    height: 30px;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(252, 252, 252);
      }
      a:hover {
        color: black;
      }
    }
  }
  .nav-site {
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 1px solid var(--color1);
    box-shadow: 0 0 1px 1px #fff;
    background-color: rgba(24, 78, 122, 0.9);
    border-radius: 10px;
    padding-block: 10px;
    width: 95%;
    margin: auto;
    height: 30px;
    li {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
      }
      a:hover {
        color: black;
      }
    }
  }
  .container {
    width: 95%;
    margin: auto;
    padding: 30px;
    margin-block: 8px;
    background-color: #ddd;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(28, 136, 200, 0.5);
    & .containt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    & h2 {
      text-align: center;
      margin: 5px;
      margin-bottom: 30px;
      font-size: 30px;
      font-family: "Roboto Slab", serif;
    }
    & h3 {
      margin-block: 10px;
      font-size: 25px;
      font-weight: 400;
    }
    & p {
      font-size: 15px;
      padding-left: 10px;
      font-weight: 400;
    }
    & pre {
      font-size: 15px;
      font-weight: 400;
    }
    & ul,
    & ol,
    & dl {
      margin: 10px;
      margin-left: 40px;
      & li,
      & dt {
        font-size: 15px;
        font-weight: 400;
      }
    }
    & span {
      font-weight: 400;
      color: var(--color5);
      font-size: 15px;
    }
    & a {
      text-decoration: none;
    }
    hr {
      width: 100%;
      margin-inline: auto;
      background-color: #444242;
      height: 3px;
      margin-block: 40px;
    }
    table {
      border: 1px solid rgb(161, 158, 158);
      box-shadow: 0 0 3px 3px rgb(172, 170, 170);
      background-color: #eee;
      border-radius: 10px;
      padding: 5px;
      & thead {
        tr {
          th {
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            background-color: var(--color4);
            color: #fff;
            padding: 5px;
          }
        }
      }
      & tbody {
        & tr {
          & td {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
          }
        }

        & tr:nth-child(odd) {
          background-color: var(--odd-td);
        }

        & tr:nth-child(even) {
          background-color: var(--even-td);
        }
      }

      & tfoot {
        tr {
          td {
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            background-color: var(--color4);
            color: #fff;
          }
        }
      }

      & tr {
        & td {
          border-bottom: 1px solid black;
          padding: 10px;
        }
      }
    }
    & .div-img {
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 2px 2px gray;
      }
    }
    & .iden {
      color: var(--color5);
      font-weight: 600;
    }
  }
  aside {
    display: none;
  }
  header {
    .container {
      padding: 0px;
      box-shadow: none;
      background-color: var(--bgcolor);
      h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 5px;
        font-size: 2.5rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
      }
      h2 {
        text-align: center;
        margin-bottom: 55px;
        font-size: 1.7rem;
        color: #fff;
        text-shadow: 2px 2px 4px black;
        font-family: "Roboto Slab", serif;
        display: flex;
        align-items: center;
        justify-content: center;

        .fa-file-pdf {
          color: #1989c8;
          margin-left: 10px;
          transition: all 0.5s ease;
        }
        .fa-file-pdf:hover {
          transform: scale(1.09);
          text-shadow: 2px 2px 4px black;
        }
      }
      #logo {
        position: relative;
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          position: absolute;
          top: 25px;
          left: 25px;
          width: 80px;
          height: 80px;
        }
        & .fa-bars {
          display: none;
        }
      }
    }
  }
  & .notes {
    margin-top: 20px;
    padding: 5px;
    background-color: var(--odd-td);
    border: 1px solid var(--odd-td);
    border-radius: 10px;
    box-shadow: 0 0 3px 3px var(--bgcolor);
    & h3 {
      margin-block: 2px;
      font-size: 15px;
      display: inline-block;
    }
    p {
      font-size: 12px;
      display: inline-block;
    }
    ul li {
      font-size: 12px;
    }
  }
}
