@media (max-width: 391px){
  
}

@media (min-width: 391px) and (max-width: 767px) {
  #session4-flexbox {
    & .container {
      & .content {
        padding: 10px;

        & .reverse,
        & .flex-wrap,
        & .justify-content,
        & .align-item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 25%;
          flex-wrap: nowrap;

          .parent1,
          .parent2 {
            box-shadow: 0 0 2px 2px gray;
            width: fit-content;
            background-color: var(--color6);
            border-radius: 5px;
            display: flex;
            padding: 10px;
            .ch1,
            .ch2,
            .ch3,
            .ch4,
            .ch5,
            .ch6 {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: var(--color4);
              margin: 5px;
              color: #fff;
            }
          }
          .parent1 {
            flex-direction: row-reverse;
          }
          .parent2 {
            flex-direction: column-reverse;
          }
        }
        & .revers-code,
        & .flex-wrap-code,
        & .justify-content-code,
        & .align-item-code {
          width: 200px;
        }
        & .flex-wrap {
          width: 45%;
          .parent1 {
            width: 250px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
          .parent2 {
            width: 250px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: flex-start;
          }
        }

        & .justify-content {
          & .parent1 {
            padding: 0px;
            width: 500px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            & .ch1,
            & .ch2,
            & .ch3 {
              margin: 0;
              margin-block: 10px;
            }
          }
        }
        & .align-item {
          & .parent1 {
            padding: 0px;
            width: 190px;
            height: 130px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;

            & .ch1,
            & .ch2,
            & .ch3,
            & .ch4,
            & .ch5,
            & .ch6 {
              border-radius: 0px;
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 767px) {
  #session4-flexbox {
    .container {
      .content {
        padding: 10px;
        .reverse,
        .flex-wrap,
        .justify-content,
        .align-item,
        .align-content,
        .flex-grow,
        .flex-shrink,
        .order,
        .basis {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 25%;
          flex-wrap: nowrap;
          .parent1,
          .parent2 {
            box-shadow: 0 0 2px 2px gray;
            width: fit-content;
            background-color: var(--color6);
            border-radius: 5px;
            display: flex;
            padding: 10px;
            .ch1,
            .ch2,
            .ch3,
            .ch4,
            .ch5,
            .ch6 {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              background-color: var(--color4);
              margin: 5px;
              color: #fff;
            }
          }
          .parent1 {
            flex-direction: row-reverse;
          }
          .parent2 {
            flex-direction: column-reverse;
          }
        }
        .revers-code,
        .flex-wrap-code,
        .justify-content-code,
        .align-item-code,
        .align-content-code,
        .flex-grow-code,
        .flex-shrink-code,
        .order-code,
        .flex-basis-code {
          width: 200px;
        }
        .flex-wrap {
          width: 45%;
          .parent1 {
            width: 250px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
          .parent2 {
            width: 250px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: flex-start;
          }
        }
        .justify-content {
          .parent1 {
            padding: 0px;
            width: 500px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .ch1,
            .ch2,
            .ch3 {
              margin: 0;
              margin-block: 10px;
            }
          }
        }
        .align-item {
          .parent1 {
            padding: 0px;
            width: 190px;
            height: 130px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;
            .ch1,
            .ch2,
            .ch3,
            .ch4,
            .ch5,
            .ch6 {
              border-radius: 0px;
              margin: 0;
            }
          }
        }
        .align-content {
          .parent1 {
            padding: 0px;
            width: 190px;
            height: 200px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            align-content: center;
            gap: 5px;
            .ch1,
            .ch2,
            .ch3,
            .ch4,
            .ch5,
            .ch6 {
              border-radius: 0px;
              margin: 0;
            }
          }
        }
        .flex-grow {
          .parent1 {
            width: 400px;
            height: 100px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            .ch1,
            .ch2,
            .ch3 {
              flex-grow: 1;
              border-radius: 0px;
              margin: 0;
            }
            .ch2 {
              flex-grow: 2;
            }
          }
        }
        .flex-shrink {
          .parent1 {
            width: 100px;
            height: 100px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            .ch1,
            .ch2,
            .ch3 {
              flex-shrink: 0;
              border-radius: 0px;
              margin: 0;
            }
            .ch2 {
              flex-shrink: 1;
            }
          }
        }
        .order {
          .parent1 {
            height: 100px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            .ch1,
            .ch2,
            .ch3,
            .ch4,
            .ch5 {
              flex-shrink: 0;
              border-radius: 0px;
              margin: 0;
            }
            .ch2 {
              order: 1;
            }
            .ch5 {
              order: -1;
            }
            .ch1 {
              order: 2;
            }
          }
        }
        .basis {
          width: 50%;
          flex-direction: column;
          align-items: start;
          .div-img {
            height: 100px;
            img {
              border-radius: 0px;
            }
          }
          .nots {
            width: 100%;
          }
        }
      }
    }
  }

  #session4-position {
    .container {
      .content {
        margin-block: 10px;
        .part1,
        .part2 {
          width: 45%;
          height: 250px;
          padding: 10px;
        }
        .part1 {
          box-shadow: 0 0 2px 2px gray;
          background-color: var(--odd-td);
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          .static {
            border: 1px dashed gray;
            width: 150px;
            height: 150px;
            position: relative;
            div:nth-child(1) {
              position: sticky;
              bottom: 0px;
              background-color: red;
              width: 50px;
              height: 50px;
            }
            div:nth-child(2) {
              background-color: blue;
              width: 70px;
              height: 70px;
            }
          }
          .relative {
            border: 1px dashed gray;
            width: 150px;
            height: 150px;
            position: relative;
            div:nth-child(1) {
              background-color: red;
              width: 50px;
              height: 50px;
              position: relative;
              top: 10px;
              left: 10px;
            }
            div:nth-child(2) {
              background-color: blue;
              width: 70px;
              height: 70px;
            }
          }
          .absolute {
            border: 1px dashed gray;
            width: 150px;
            height: 150px;
            position: relative;
            div:nth-child(1) {
              background-color: red;
              width: 50px;
              height: 50px;
              position: absolute;
              top: 15px;
              left: 15px;
              z-index: 10;
            }
            div:nth-child(2) {
              background-color: blue;
              width: 70px;
              height: 70px;
            }
          }

          .one,.two,.three {
            width: 100px;
            height: 100px;
            border: 1px solid;
            position: absolute;
          }
          .one {
            background-color: lightblue;
            top: 30px;
            left: 30px;
            z-index: 10;
          }
          .two {
            background-color: lightcoral;
            top: 40px;
            left: 2=40px;
            z-index: 11;
          }
          .three {
            background-color: lightgreen;
            top: 50px;
            left: 50px;
            z-index: 9;
          }

        }

        .part2 {
          .div-img {
            width: 40%;
            height: 100%;
            margin-left: auto;
          }
        }
      }
    }
  }
}
