@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
:root {

  




  --color3:#F5CBCB;
  --color1:#FFEAEA;
  --color2:#ddd;
  --color4:black;

}

body {
  background-color: var(--color1);
}

hr {
  width: 80%;
  margin-inline: auto;
  background-color: #444242;
  height: 3px;
  margin-block: 40px;
}

form {
  padding: 20px;
  background-color: #fff;
  border-radius: 22px;
  border: 2px solid black;
}

.container {
  width: 80%;
  margin: auto;
  padding: 30px;
  margin-block: 20px;
  background-color: #ddd;
  border-radius: 22px;
  & .containt {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.border {
  border: 1px solid red;
}

.flex {
  display: flex;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: var(--color3);
}

.img {
  background-image: url("./img/questionmark.png");
  background-size: cover;
  background-position: center;
  display: block;
}

table {
  & tr {
    & td {
      text-align: center;
      border-radius: 5px;
    }
    & th {
      padding: 10px;
      border-radius: 5px;
      background-color: black;
      color: #fff;
    }
  }
}

section {
  & .container {
    & .containt {
      & img {
        width: 45%;
        height: 340px;
      }
      & .info {
        width: 45%;
        & ul {
          margin-left: 20px;
        }
      }
    }

    & span {
      font-weight: 500;
      color: blue;
    }
    & h2 {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 50px;
      font-size: 40px;
    }
    & h3 {
      margin-top: 20px;
    }

    & p {
      margin: 20px 0px 20px;
      font-size: 15px;
      padding-left: 20px;
    }

    & ul {
      margin-left: 100px;
      margin-bottom: 50px;
      & li {
        padding-block: 5px;
      }
      & span {
        font-weight: 500;
        color: blue;
      }
    }

    & .div-img {
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        width: 100px;
        display: inline-block;
        margin-inline: 10px;
      }
      & :nth-child(4) {
        width: 450px;
      }
      & :nth-child(1) {
        width: 80px;
      }
      & :nth-child(2) {
        width: 80px;
      }
    }

    & table {
      margin-left: 60px;
      border: 1px solid rgb(161, 158, 158);
      background-color: #eee;
      border-radius: 22px;
      padding: 10px;
      & thead tr td {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        background-color: #ddd;
      }
      & tr:nth-child(odd) {
        background-color: #f1a5a5;
      }
      & tr td {
        border-bottom: 1px solid black;
        padding: 10px;
      }
    }

    & .iden {
      color: blue;
      font-weight: 600;
    }
  }
}

.entities {
  padding: 20px;
  background-color: var(--color3);
  border-radius: 22px;
  margin: 20px;
  & .entitie {
    display: inline-block;
    background-color: #eee;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.7s ease;
  }
  & .entitie:hover {
    color: black;
    transform: scale(1.05);
    background-color: #ddd;
  }
}

header,
footer {
  & .container {
    background-color: var(--color1);
    width: 100%;
    & h1 {
      text-align: center;
      margin-block: 20px;
      font-size: 50px;
    }
    & h2 {
      text-align: center;
      margin-block: 20px;
      font-size: 25px;
      color: rgb(56, 56, 185);
      & img {
        width: 20px;
      }
    }
    & .nav-page {
      display: flex;
      justify-content: space-around;
      list-style: none;
      border: 1px solid rgb(243, 248, 243);
      background-color: rgb(69, 70, 69);
      border-radius: 22px;
      padding-block: 10px;
      margin-top: 10px;
      margin-bottom: 30px;
      & li {
        & a {
          text-decoration: none;
          font-size: 15px;
          font-weight: 500;
          text-transform: capitalize;
          color: rgb(252, 252, 252);
        }
        & a:hover {
          color: rgb(81, 192, 100);
        }
      }
    }
    & .nav-site {
      display: flex;
      justify-content: space-around;
      list-style: none;
      border: 1px solid var(--color1);
      background-color: var(--color3);
      border-radius: 22px;
      padding-block: 15px;
      margin-top: 40px;
      margin-bottom: 10px;
      & li {
        & a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
          color: rgb(56, 56, 185);
        }
        & a:hover {
          color: #fff;
        }
      }
    }
  }
}

#Sec2-list {
  & .container {
    & .containt {
      flex-wrap: wrap;
      #ol,
      #ul,
      #dl {
        width: 32%;
        background-color: #f1a5a5;
        border-radius: 22px;
        padding: 5px;
        margin-block: 10px;

        & h3 {
          text-align: center;
        }
      }

      & #ol2,
      & #ul2,
      & #dl2 {
        width: 32%;
        background-color: #f1a5a5;
        border-radius: 22px;
        padding: 5px;
        margin-block: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & h3 {
          text-align: center;
        }

        & p {
          margin-block: 5px;
        }
      }


    }
  }
}

#Sec2-image {
  & .container {
    & .containt {
      & .con1 {
        width: 45%;
        display: flex;
        padding-top: 30px;

        & ul {
          margin-left: 20px;
        }
      }
      & .con2 {
        width: fit-content;
        & img {
          width: 300px;
          border-radius: 22px;
        }
      }
    }
  }
}

#heading_p_pre {
  & .container {
    & .containt {
      align-items: center;
      & div {
        width: 25%;
        & h1 {
          font-size: 2.5rem;
          text-align: left;
          margin-bottom: 10px;
        }
        & h2 {
          font-size: 2rem;
          text-align: left;
          margin-block: 10px;
        }
        & h3 {
          font-size: 1.5rem;
          text-align: left;
          margin-block: 10px;
        }
        & h4 {
          font-size: 1.2rem;
          text-align: left;
          margin-block: 10px;
        }
        & h5 {
          font-size: 0.8rem;
          text-align: left;
          margin-block: 10px;
        }
        & h6 {
          font-size: 0.5rem;
          text-align: left;
          margin-block: 10px;
        }
      }
    }
  }
}

#Sec2-table {
  & .container {
    .containt {
      padding: 15px;
      border-radius: 22px;
      background-color: #eee;
      justify-content: space-around;

      & .con1 {
        width: 45%;
      }
      & .con2 {
        width: 45%;
        align-items: center;

        & table {
          margin: 0px;
        }
      }
    }
  }
}

#Sec2-divspan {
  & .container {
    & .containt {
      align-items: start;
      & .div-test1 {
        width: 45%;
        padding: 30px;
        background-color: var(--color3);
        border-radius: 22px;
        margin-left: 50px;
        & ul {
          margin-left: 30px;
          margin-top: 10px;
        }
      }
      & .div-test2 {
        width: 45%;
      }
    }
  }
}

#Sec3-attributes {
  & .container {
    & .containt {
      & .con1 {
        width: 45%;
        padding: 30px;
        background-color: var(--color3);
        border-radius: 22px;
        margin-left: 50px;
      }
      & .con2 {
        width: 45%;
        align-items: center;
      }
    }
    & #id-class {
      background-color: var(--color3);
      padding: 20px;
      border-radius: 22px;
      & p {
        font-size: 20px;
      }
    }
  }
}

#Sec3-Semantic {
  & .container {
    & .content {
      background-color: var(--color3);
      padding: 15px;
      border-radius: 22px;
    }
  }
}

#Sec3-name-convetion {
  & .container {
    & .containt {
      & .part {
        background-color: var(--color3);
        padding: 20px;
        border-radius: 22px;
        height: 250px;
      }
    }
  }
}

#Sec3-assignment {
  & .container {
    & .containt {
      background-color: black;
      color: #fff;
      padding: 15px;
    }
  }
}

#sec4-intro {
  & .container {
    & .containt {
      display: flex;
      justify-content: space-around;
      & div img {
        width: 300px;
        height: 200px;
      }
    }

    & #desc-input,
    & #desc-label {
      & div {
        width: 45%;
      }

      & .part1 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      & .part2 {
        & table {
          width: 100%;
          margin: 0px;
        }
      }
    }
    & #desc-label {
      & #part2 {
        background-color: var(--color3);
        padding: 25px;
        border-radius: 22px;
      }
    }
  }
}

#sec4-assignment {
  & .container {
    background-color: black;
    color: #fff;
  }
}

#sec4-hidding-disabel {
  & .container {
    & .containt {
      & img {
        width: 80%;
      }
    }
  }
}

#sec5-che-rad {
  form {
    margin: 10px;
  }
}
