* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  background-color: #000;
  color: #fff;
  width: 100%;

  h2 {
    font-size: 30px;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      padding: 0 15px;
      text-transform: capitalize;
    }
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 22px;
  padding: 30px 0;
}
